<!DOCTYPE html.erb>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <%= stylesheet_link_tag "static_page.scss" %>
    <title></title>
  </head>
  

  <body>
   <%= render 'shared/nav_bar' %>
 
  
  <div id="wrapper">
      <div class="image-container">
        <div class="image-sizing">
          
        </div>

      </div>
      <div class="introduction">
        <div class="text-block">
          <h1>David Gu</h1>
          <h2>Web Developer</h2>
          <p>
            I'm a full-stack developer based in Sydney. I strive for clean, readable code, that is both cross-platform compatible as well as performance optimized. My development skills include HTML5, CSS3, Javascript, jQuery and Ruby on Rails. I am currently looking for any opportunities for a junior web developer and would love to discuss further over coffee.
          </p>
        </div>
      </div>
       
  </div>
 
    
  </body>
  <%= render 'shared/footer' %>
</html>
