 <nav id = "wrap">
      
<ul id=menu>
      <div id="home", class="master">
      	<li><%= link_to "Home", root_path%>
      </div>
       <div id="portfolio", class="master">
      	<li><a href="http://www.github.com/dagu3371">Portfolio</a>
      </div>
      <div id="contact_me", class = "master">
        <li> <%= link_to "Contact", contact_path%>
        
      </div>
      
     
</ul>

    </nav>